:root {
    --dark :hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --typografy1: 'Fraunces', serif;
    --typografy2: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    border: 1px solid green;
}

.main-section {
    height: 500px;
    width: 600px;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    overflow: hidden;
    border: 2px solid blue;
}

.contain-img {
   overflow: hidden;
   border: 2px solid green;
}

.img {
    width: 50%;
    border: 2px solid red;
}

.contain-info {
    display: grid;
    width: 50%;
    border: 2px solid yellow;
}

.attribution {
    position: fixed;
    bottom: 0;
}

/* Casi 5 horas de prueba y error, codeando de manera mediocre
    y teninedo que investigar sobre el uso adecuado de flex y grid.
    Estuve muy cerca de poder terminarlo pero estaba hecho de una 
    manera horrible a la vista del desarrollo eficiente.
    Basicamente borre todo y empecé de vuelta xd
    Si hubiera sacado screen la adjuntaba asi veían el mamarracho*/


