:root {
    --dark :hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --typografy1: 'Fraunces', serif;
    --typografy2: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cream);
    height: 100svh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    background-color: var(--white);
    height: 500px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
}

.contain-img {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img {
    height: 100%;
}

.contain-info {
    width: 50%;
    display: grid;
}

.info {
    margin: 30px;
}

.perfume {
    font-family: var(--typografy2);
    color: var(--dark-grayish-blue);
    font-size: 14px;
}

.first-text {
    font-family: var(--typografy1);
    font-size: 22px;
}

.second-text, .total{
    font-family: var(--typografy2);
    color: var(--dark-grayish-blue); 
    font-size: 15px;
    line-height: 25px;
}

.price {
    height: 50px;
    display: flex;
    align-items: center;
}

.offer {
    font-family: var(--typografy1);
    color: var(--dark); 
    font-size: 35px;
}

.total {
    margin-left: 20px;
}

.btn{
    height: 50px;
    margin-top: 20px;
}

button {
    border: none;
    background-color: var(--dark);
    color: var(--white);
    font-family: var(--typografy2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.attribution {
    position: fixed;
    bottom: 0;
}

/* Casi 5 horas de prueba y error, codeando de manera mediocre
    y teninedo que investigar sobre el uso adecuado de flex y grid.
    Estuve muy cerca de poder terminarlo pero estaba hecho de una 
    manera horrible a la vista del desarrollo eficiente.
    Basicamente borre todo y empecé de vuelta xd
    Si hubiera sacado screen la adjuntaba asi veían el mamarracho*/


