:root {
    --dark: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --typografy1: Fraunces, serif;
    --typografy2: Montserrat, sans-serif;
}

body {
    background-color: var(--cream);
    height: 100svh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    background-color: var(--white);
    height: 500px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}
.solucion-quipeque{
    width: 50%;
}

.contain-img {
    width: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.img {
    height: 100%;
}

.contain-info {
    margin: 30px;    
}

.perfume {
    color: var(--dark-grayish-blue);
    font-family: var(--typografy2);
}

.firt-text {
    font-size: 24px;
    font-family: var(--typografy1);
}

.second-text {
    color: var(--dark-grayish-blue);
    font-family: var(--typografy2);
    font-weight: 500;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer {
    font-family: var(--typografy1);
    font-size: 40px;
    color: var(--dark);
    width: 100%;
    margin: 0px;
    
}

.total {
    margin-right: 10px;
    font-family: var(--typografy2);
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

.info {
    margin: 30px;
}

.btn{
    font-family: var(--typografy2);
    background: #3d7f67;
    height: 50px;
    width: 200px;
    border: 0px;
    margin-top: 37px;
    margin-left: 23px;
    border-radius: 12px;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    
    background: #07442d;    
}

.cart-logo{
    margin: 5px;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 3px;
}

@media (max-width: 500px){
    body {
        background-color: #222221;
    } 
    .main-section {
        height: 800px;
        width: 450px;
        flex-direction: column;
    }
    .contain-img {
        display: flex;
        height: 35%;
        width: 100%;
        object-fit: fill;
        
    }
    .img{
        height: auto;
        width: 100%;
        object-fit: contain;
    }
    .solucion-quipeque{
        width: auto;
    }
}